/*Grund: Mobile first*/
.wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0 auto;
    gap: 1rem;
    border: 4px solid #5C7E8F;
    border-radius: 2rem;
    border-top-left-radius: 0rem;
    /*Döljer element som sticker ut utanför wrappern*/
    overflow: hidden;
    /*Storlek*/
    min-height: 97vh; /*strax under full viewport, håller footer vid botten av webbläsaren*/
    width: 90%;
    max-width: 1000px;/*stoppar gigantisk wrapper på stora skärmar*/
}

/*Sidan i den ordning elementen kommer i html*/
header{
    background-color: #A2A2A2;
    /*Orienterar adressfältet under img och rubriker*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

header > div{
    /*Orienterar img och rubriker på en rad*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header > address{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C7E8F;
    border-radius: 2rem;
    padding: 0.5rem;
}

img{
    width: 40%;
    height: auto;
    /*Håller rimlig storlek även på stora skärmar*/
    max-width: 300px; 
    border: 2px solid #5C7E8F;
    border-radius: 50%;
    border-bottom-right-radius: 0%;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Fraction används för att utrymmet ska delas exakt lika*/
}

nav > a{
    background-color: #5C7E8F;
    color: #FFFF;
    padding: 1rem;
    border: 2px solid #5C7E8F;
    text-align: center;
}

main{
    /*avstånd mellan sections i main*/
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

section{
    /*avstånd mellan articles i section*/
    display: grid;
    gap: 1rem;
}
article{
    background-color: #D4DDE2;
    border-radius: 1rem;
    padding: 0.5rem;
    
}

footer{
    display: flex;
    justify-content: center;
    background-color:#5C7E8F;
    color: #FFFF;
}

/*Egenskaper för text, rubriker, osv*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:#FFFF;
    background-color: #5C7E8F;
    padding: 0.5rem;
    border-radius: 1rem;
}

/*Egenskaper för länkar och nav*/
a, address > ul > li{
    color: inherit;
    text-decoration: none;
}
nav > a{
    font-size: 1.5rem;
    font-weight:bolder;
}
nav > a:hover{
    background-color:#D4DDE2;
    color:#5C7E8F;
}
nav > a:active{
    background-color: #FFFF;
    color: #5C7E8F;
}

/*Större skärmar*/
@media (min-width: 600px){
    header{
        flex-direction: row;
    }
    main{
        display: flex;
        flex-direction: row;
    }
}