/*CSS-mall av Oskar Boberg 2026-09*/

/*Grund: Mobile first*/
.wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0 auto;
    border: 4px solid #5C7E8F;
    border-radius: 2rem;
    border-top-left-radius: 0rem;

    /*Döljer element som sticker ut utanför wrappern
    Responsiviteten är bara bra ner till cirka 340px i bredd med denna*/
    overflow: hidden;
    
    /*Storlek*/
    min-height: 97vh; /*strax under full viewport, håller footer vid botten av webbläsaren*/
    width: 95%; /*En kompromiss för sömlös övergång till både mobile och desktop*/
    max-width: 1000px;/*stoppar gigantisk wrapper på stora skärmar*/
}

/*Sidan i den ordning elementen kommer i html*/
header{
    background-color: #A2A2A2;
    /*Orienterar adressfältet under img och rubriker*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

header > div{
    /*Orienterar img och rubriker på en rad*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header > address{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C7E8F;
    border-radius: 2rem;
    margin-top: 1rem;/*Detta löser enbart ett problem på mobile*/
    padding-right: 2rem; /*Motverkar att content ligger tajt på högersidan*/
}

header > div > img{
    width: 40%;
    height: auto;
    /*Håller rimlig storlek även på stora skärmar*/
    max-width: 200px;
    border: 2px solid #5C7E8F;
    border-radius: 50%;
    border-bottom-right-radius: 0%;
}

nav{
    /*Mer designmässiga egenskaper finns under sektionen LÄNKAR längre ner*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*Fraction används för att utrymmet ska delas exakt lika*/
}

main{
    /*avstånd mellan sections i main*/
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

section{
    /*avstånd mellan articles i section*/
    display: grid;
    gap: 1rem;
}
article{
    background-color: #D4DDE2;
    border-radius: 1rem;
    padding: 0.5rem;
    
}

footer{
    display: flex;
    justify-content: center;
    background-color:#5C7E8F;
    color: #FFFF;
}

/*Egenskaper för text, rubriker, osv*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    /*marginaljusterad text*/
    text-align: justify;
}
h1{
    /*Inlänkad från Google-font, se head i html*/
    font-family: "Caveat", cursive, 'Lucida Sans', Verdana, sans-serif;
    font-size: 3rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFFF;
    text-shadow: 0 0 3px black; /*Får texten att sticka ut lite mer*/
    margin-bottom: 0.25rem; /*För att komma närmare p*/
}
header > div > div > p{
    margin-top: 0;/*För att komma närmare h1*/
    border-top: 4px solid #5C7E8F;
    font-size: 1.5rem;
    font-family: "Caveat", cursive, 'Lucida Sans', Verdana, sans-serif;
}
h2{
    color:#FFFF;
    background-color: #5C7E8F;
    padding: 0.5rem;
    border-radius: 1rem;
    /*Flyttar upp h2 lite*/
    margin-top: 0rem;
}
/*Enbart inuti article*/
h3{
    color: #5C7E8F;
    margin-bottom: 0rem;
}
article > p{
    margin-top: 0rem;
}

/*Egenskaper Länkar och Nav*/
a, address > ul > li{
    color: inherit;
    text-decoration: none;
}
/*Navfält med länkar*/
nav > a{
    background-color: #D4DDE2;
    color: #5C7E8F;
    padding: 1rem;
    border-block: 2px solid #5C7E8F; /*border top + border bottom*/
    text-align: center;
    font-size: 1.5rem;
    font-weight:bolder;
}
nav > a:hover{
    background-color: #FFFF;
    color: #5C7E8F;
}
nav > a:active{
    background-color:#A2A2A2;
    color:#FFFF;
}
#cv nav > a:first-child{
    background-color: #5C7E8F;
    color: #FFFF;
}
#portfolio nav > a:nth-child(2){
    background-color: #5C7E8F;
    color: #FFFF;
}
/*Adressfält med länkar*/
address > ul{
    list-style: none;
}
address > ul > li > a{
    /*flex behövs för att synka länktexten med ikonerna*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 0.2rem;
    font-family: inherit;
    font-style:italic;
    color: #FFFF;
}
address > ul > li > a:hover{
    text-decoration:underline;
}
address > ul > li > a > img{
    width: 2rem;
    height: auto;
    /*Litet gap mellan dekorativ bild och länktext*/
    margin-right: 0.5rem;
}
/*Portfoliolänkar*/
section > article > p > a{
    padding-block: 0.2rem;
    font-family: inherit;
    font-weight: 800;
    color: #5C7E8F;
}
section > article > p > a:hover{
    text-decoration:underline;
    color: #FFFF;
}

/*Större skärmar*/
@media (min-width: 760px){
    header{
        flex-direction: row;
        gap: 2rem;
    }
    header > div > img{
        min-width: 200px;
        max-width: 500px;
    }
    main{
        display: flex;
        /*motverkar att adressboxen lägger sig ovanpå h1*/
        flex-direction: row;
    }
    header > address{
        margin-top: 0rem;
    }
}
/*Justeringer för extremt små skärmar utan
dessa kollapsar innehållet och blir oläsligt*/
@media (max-width: 340px){
    .wrapper{
        overflow: visible;
        border: none;
        width: 100%;
    }
    body{
        margin: 0;
    }
}